<div class="graphs-container">

  <!-- <h3 class="title">TOP COUNTRIES WITH THE HIGHEST NUMBER OF INTERNET USERS</h3>

  <table class="countries-table">
    <tr>
      <th>#</th>
      <th>Country</th>
      <th>Population</th>
      <th>Internet Users</th>
    </tr>
    <tr *ngFor="let iu of countries, let i = index">
      <td>{{i+1}}</td>
      <td>{{iu.country}}</td>
      <td>{{iu.population}}</td>
      <td>{{iu.internetUsers}}</td>
    </tr>
  </table>

  <google-chart [data]="pieChartData"></google-chart>
  <google-chart [data]="columnChartData"></google-chart>

  <div class="new-country">
    <p>Try adding a new country</p>
    <form (submit)="addCountry()">
      <div class="grid">
        <div class="column-full">
          <input [(ngModel)]="country" type="text" name="country" placeholder="Country">
        </div>
        <div class="column-full">
          <input [(ngModel)]="population" type="number" name="population" placeholder="Population">
        </div>
        <div class="column-full">
          <input [(ngModel)]="internetUsers" type="number" name="internet_users" placeholder="Internet Users">
        </div>
        <div class="column-full">
          <input class="button default" type="submit" value="Add">
        </div>
      </div>
    </form>
  </div> -->

  <table>
    <tr>
      <td>
        <google-chart [data]="columnGroupedChartData"></google-chart>
      </td>
      <td>
        <google-chart [data]="columnStackedChartData"></google-chart>
      </td>
    </tr>
    <tr>
      <td>
        <google-chart [data]="barChartData"></google-chart>
      </td>
      <td>
        <google-chart [data]="areaChartData"></google-chart>
      </td>
    </tr>
    <tr>
      <td>
        <google-chart [data]="geoChartData"></google-chart>
      </td>
      <td>
        <google-chart [data]="lineChartData"></google-chart>
      </td>
    </tr>
    <tr>
      <td>
        <google-chart [data]="lineChartData2"></google-chart>
      </td>
      <td>
        <google-chart [data]="areaChartData2"></google-chart>
      </td>
    </tr>
    <tr>
      <td>
        <google-chart [data]="areaChartData3"></google-chart>
      </td>
      <td></td>
    </tr>
  </table>


</div>
