$button-opacity-on-hover: 0.8;
$border-radius: 3px;
$nav-height: 30px;

// Colors
$nav-background: #191e23;
$nav-background-hover: #191e23;
$nav-color: #eee;
$nav-color-hover: #eee;

$menu-background: #444;
$menu-background-hover: #191e23;
$menu-color: #eee;
$menu-color-hover: #00b9eb;

$primary-color: #1E88E5;
$white-base: #ffffff;
$border-color: #c0c0c0;
