<div class="graphs-two-container">

    <table>
      <tr>
        <td>
          <google-chart [data]="scatterChartData"></google-chart>
        </td>
        <td>
          <google-chart [data]="donutChartData"></google-chart>
        </td>
      </tr>
      <tr>
        <td>
          <google-chart [data]="bubbleChartData"></google-chart>
        </td>
        <td class="org-chart">
          <google-chart [data]="orgChartData"></google-chart>
        </td>
      </tr>
    </table>


  </div>
